In [1]:
from perceptron import *
import pandas as pd

In [2]:
iris_dataset = pd.read_csv('files/iris.csv')

In [3]:
iris_validation = run_perceptron_validation(dataset=iris_dataset, 
                                            column_x='Species', 
                                            column_y='setosa', 
                                            test_size=0.1)
iris_validation

{'predictions': [1, 1, 1, 1, -1, 1, -1, -1, -1, 1, -1, 1, 1, 1, 1],
 'prediction_success': '100.0%'}

# Tarefa 1 - Reexecutar train/test/split

In [4]:
iris_validation_2 = run_perceptron_validation(dataset=iris_dataset, 
                                            column_x='Species', 
                                            column_y='setosa', 
                                            test_size=0.1)
iris_validation_2

{'predictions': [1, 1, -1, 1, -1, 1, 1, -1, 1, -1, -1, -1, -1, 1, 1],
 'prediction_success': '100.0%'}

# Tarefa 2 - Alterar binarização das classes (Setosa, Versicolor, Virginica)

In [5]:
iris_validation_virginica = run_perceptron_validation(dataset=iris_dataset, 
                                            column_x='Species', 
                                            column_y='virginica', 
                                            test_size=0.1)
iris_validation_virginica

{'predictions': [1, 1, -1, 1, -1, -1, -1, 1, -1, 1, 1, -1, -1, -1, -1],
 'prediction_success': '80.0%'}

In [6]:
iris_validation_versicolor = run_perceptron_validation(dataset=iris_dataset, 
                                            column_x='Species', 
                                            column_y='versicolor', 
                                            test_size=0.1)
iris_validation_versicolor

{'predictions': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
 'prediction_success': '53.333333333333336%'}

# Tarefa 3 - Alterar o tamanho do teste

In [7]:
iris_validation_with_greater_test_size = run_perceptron_validation(dataset=iris_dataset, 
                                            column_x='Species', 
                                            column_y='setosa', 
                                            test_size=0.2)
iris_validation_with_greater_test_size

{'predictions': [1,
  -1,
  -1,
  1,
  1,
  1,
  1,
  1,
  1,
  1,
  -1,
  1,
  -1,
  1,
  1,
  1,
  1,
  1,
  1,
  -1,
  -1,
  -1,
  1,
  1,
  1,
  -1,
  1,
  1,
  -1,
  -1],
 'prediction_success': '100.0%'}

# Tarefa 4 - Explorar dataset UCI

 - Dataset: https://archive.ics.uci.edu/ml/datasets/Credit+Approval

In [10]:
credit_dataset = pd.read_csv('files/credit_approval.csv')
credit_dataset

,ATTR_1,ATTR_2,ATTR_3,ATTR_4,ATTR_5,ATTR_6,ATTR_7,ATTR_8,ATTR_9,ATTR_10,ATTR_11,ATTR_12,ATTR_13,ATTR_14,ATTR_15,CLASS
0,b,30.83,0.00,u,g,w,v,1.25,t,t,1,f,g,202,0,+
1,a,58.67,4.46,u,g,q,h,3.04,t,t,6,f,g,43,560,+
2,a,24.50,0.50,u,g,q,h,1.50,t,f,0,f,g,280,824,+
3,b,27.83,1.54,u,g,w,v,3.75,t,t,5,t,g,100,3,+
4,b,20.17,5625.00,u,g,w,v,1.71,t,f,0,f,s,120,0,+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,b,21.08,10085.00,y,p,e,h,1.25,f,f,0,f,g,260,0,-
686,a,22.67,0.75,u,g,c,v,2.00,f,t,2,t,g,200,394,-
687,a,25.25,13.50,y,p,ff,ff,2.00,f,t,1,t,g,200,1,-
688,b,17.92,205.00,u,g,aa,v,0.04,f,f,0,f,g,280,750,-
689,b,35.00,3375.00,u,g,c,h,8.29,f,f,0,t,g,0,0,-

In [11]:
credit_dataset.dropna()

,ATTR_1,ATTR_2,ATTR_3,ATTR_4,ATTR_5,ATTR_6,ATTR_7,ATTR_8,ATTR_9,ATTR_10,ATTR_11,ATTR_12,ATTR_13,ATTR_14,ATTR_15,CLASS
0,b,30.83,0.00,u,g,w,v,1.25,t,t,1,f,g,202,0,+
1,a,58.67,4.46,u,g,q,h,3.04,t,t,6,f,g,43,560,+
2,a,24.50,0.50,u,g,q,h,1.50,t,f,0,f,g,280,824,+
3,b,27.83,1.54,u,g,w,v,3.75,t,t,5,t,g,100,3,+
4,b,20.17,5625.00,u,g,w,v,1.71,t,f,0,f,s,120,0,+
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
685,b,21.08,10085.00,y,p,e,h,1.25,f,f,0,f,g,260,0,-
686,a,22.67,0.75,u,g,c,v,2.00,f,t,2,t,g,200,394,-
687,a,25.25,13.50,y,p,ff,ff,2.00,f,t,1,t,g,200,1,-
688,b,17.92,205.00,u,g,aa,v,0.04,f,f,0,f,g,280,750,-
689,b,35.00,3375.00,u,g,c,h,8.29,f,f,0,t,g,0,0,-